/Parte 2/*/build
/Parte 2/*/nbproject
/Parte 2/*/dist
Parte 2/RESTapi/build/web/WEB-INF/classes/service/AbstractFacade.class
Parte 2/RESTapi/build/web/WEB-INF/classes/service/ApplicationConfig.class
Parte 2/RESTapi/build/web/WEB-INF/classes/service/VemecsDataFacadeREST.class
Parte 2/RESTapi/build/web/WEB-INF/classes/service/VemecsFacadeREST.class
Parte 2/RESTapi/dist/RESTapi.war
Parte 2/RESTapi/nbproject/build-impl.xml
Parte 2/RESTapi/nbproject/genfiles.properties
Parte 2/RESTapi/nbproject/private/private.properties
Parte 2/RESTapi/nbproject/private/private.xml
Parte 2/RESTapi/nbproject/project.properties
Parte 2/RESTapi/nbproject/project.xml
Parte 2/VeMecSimulator/simulator.js
Parte 2/RESTapi/dist/RESTapi.war
